course{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid black; */
    padding: 10px;
    transition: 0.6s;
    background-color: rgba(226, 201, 201, 0.178);
    box-shadow: 2px 2px 4px gray;
    margin: 15px;
    height: 44rem;
    border-radius: 5px;
    
}
.btn-regular{
    background-color: goldenrod;
    width: 180px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    
}